services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user_name
      POSTGRES_PASSWORD: passwd
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
